<p>
  Passwords play such a big part in our technological lives. 
  We have believed that passwords keep our personal information safe, and that it is the most optimal way to do so.
  WIth the advancement of technology, people are finding more and more ways to crack passwords and break into people’s personal information to steal identities, put people in debt, and way worse.
</p>
<p>
  This ability to crack passwords are giving software engineers more to do, as they are trying to come up with more secure way of keeping people's information safe.
  An example of this would be the idea of 2 factor authentication, where a software engineer had to code the software for a message to be sent to a second device in order to connect to your account after putting your password in.
  This can stop hackers because they would have to have direct access to the device in order to successfully log in.
  One way they could potentially bypass this would be to either find a way to switch the two-step device to their personal device, or creating a program to imitate or match the program in order to let themselves in.
</p>
<p>
  One last way that security could be a concern would be when establishing account roles in the office.
  There may be some features that only the boss should be able to see that consumers or lower employees should not be able to see.
  One thing that a programmer doesn’t want is someone finding a vulnerability and being able to see and potentially expose the things that only the boss can and should see and could potentially corrupt the company.
  These are very important issues that programmers have to keep in mind when making a features in order to keep a site, as well as people’s information, safe and secure.
</p>
